<!-- src/app/app.component.html -->
<div>
  <h1>Angular Methods App</h1>

  <div>
    <label for="inputString">Input String:</label>
    <input id="inputString" [(ngModel)]="inputString" placeholder="Enter a string" />
    <p>Number of Capital Letters: {{ countCapital(inputString) }}</p>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" [(ngModel)]="password" placeholder="Enter a password" />
    <p>Password is valid: {{ checkSpecialSym(password) }}</p>
  </div>

  <div>
    <label for="numberArray">Number Array:</label>
    <input id="numberArray" [(ngModel)]="numberArray" placeholder="Enter numbers separated by commas" />
    <p>Array Addition Result: {{ arrayAddition(parseNumberArray(numberArray)) }}</p>
  </div>
</div>
