<label for="your-name">Your name<span>*</span></label>
<div class="row">
  <div class="col-sm-6 mb-3">
    <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="firstName">
  </div>
  <div class="col-sm-6 mb-3">
    <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lastName">
  </div>
</div>

<div class="row">
  <label for="" class="col-sm-6">Email<span>*</span></label>
  <div class="col-sm-12 mb-3">
    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
  </div>
</div>
