<div class="row">
  <label for="bug-date-time" class="col-sm-12">Date and time you first noticed this bug<span>*</span></label>
  <div class="col-sm-12 col-md-4 mb-3">
    <input type="text" class="form-control" placeholder="Datepicker" bsDatepicker>
  </div>
  <div class="col-sm-12 col-md-4 mb-3">
    <timepicker></timepicker>
  </div>

</div>

<div class="row">
  <label for="impact" class="col-sm-12">Impact<span>*</span></label>
</div>

<div class="row">
  <label for="" class="col-12">Detailed explanation of bug.<span>*</span></label>
  <div class="col-12 mb-3">
    <textarea class="form-control"></textarea>
  </div>
</div>
